
<ion-content>
  <div class="wrapper">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="../../assets/images/logo.png" alt="" height="150px" width="150px">
    <p style="color:rgb(48, 86, 176) ; font-style: oblique; font-size: x-large;">EMU Covid Tracker</p>
    <ion-icon name="bluetooth-outline" style="color:rgb(48, 86, 176) ; size: 5cm;"></ion-icon>
    <div class="spinner">
      <div class="cube1"></div>
      <div class="cube2"></div>
    </div>
  
  </div>
  
  </ion-content>
  