<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" class="back" defaultHref="folder"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div>
    <h1 style="text-align: center;"> Welcome {{name}} {{surname}} </h1>
  </div>

  <br/>
    <div class="text_center">
     SETTINGS
    </div>

    <ion-card>
      <div > 
        <ion-item>
          <ion-label>Change Messages</ion-label>
          <ion-select [(ngModel)]="message" multiple="false" cancelText="Cancel" okText="Save" routerLinkActive="router-link-active">
            <ion-select-option  value="Please Do not forget to drink water">
              Do not forget to drink water
            </ion-select-option>
            <ion-select-option  value="For your health, please observe social distancing.">
              For your health, please observe social distancing.
            </ion-select-option>
            <ion-select-option  value="Please get tested if you have symptoms of Covid-19">
              Please get tested if you have symptoms of Covid-19
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-card>
    
    <ion-card>
      <div > 
        <ion-item>
          <ion-label>Set Time</ion-label>
          <ion-select [(ngModel)]="days" multiple="false" cancelText="Cancel" okText="Save">
            <ion-select-option value="1">1 DAY</ion-select-option>
            <ion-select-option value="2">2 DAY</ion-select-option>
            <ion-select-option value="3">3 DAY</ion-select-option>
            <ion-select-option value="4">4 DAY</ion-select-option>
            <ion-select-option value="5">5 DAY</ion-select-option>
            <ion-select-option value="6">6 DAY</ion-select-option>
            <ion-select-option value="7">7 DAY</ion-select-option>
            <ion-select-option value="8">8 DAY</ion-select-option>
            <ion-select-option value="9">9 DAY</ion-select-option>
            <ion-select-option value="10">10+ DAY</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-card>

  <ion-button (click)="modifySettings()" expand="block" class="full_button" color="primary">Save</ion-button>

</ion-content>
